.slider {
	position: relative;
	width:100%;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
}

@media(max-width:650px) {
	width: 300px;
}

.cool-buttons {
	background: black;
	border: 2px solid white;
}

.right-arrow {
	position: absolute;
	top:50%;
	right: 25px;
	z-index:999;
	color: #ffffff
}

.right-arrow img {
	transform: translate(-2px, 0);
}

.right-arrow:focus img{
	outline: 0;
}

.right-arrow:hover {
	transition: transform ease-in .1s;
	transform: scale(1.1);
}

.left-arrow {
	position: absolute;
	top:50%;
	left: 25px;
	z-index:999;
	color: #ffffff
}

.left-arrow:hover {
	transition: transform ease-in .1s;
	transform: scale(1.1);
}

.left-arrow img {
	transform: translate(-2px, 0);
}

.left-arrow:focus img{
	outline: 0;
}

.dots-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index:9999;
	padding: 5px 0;
}

.dots-container .dot{
	background: #222;
	display: inline-block;
	padding: 10px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 50%;
}

.dots-container .active {
	background: #fff;
}

.switch{
	border:1px solid #ccc;
	width:50px;
	height:26px;
	border-radius:13px;
	cursor:pointer;
	display:inline-block;
}
.switch-toggle {
	border:1px solid #999;
	box-shadow: 1px 1px 1px #ccc;
	width:25px;
	height:24px;
	left:0px;
	border-radius:12px;
	background:#fff;
	position: relative;
	transition:left .2s ease-in-out;
}
.switch.on {
	background:green;
}

.switch.on .switch-toggle {
	left:23px;
}

.switch {
	transform: translate(30px, -3px);
}

.slide_item {
	display: inline-block;
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

button {
	position: absolute;
	bottom: 25px;
	color: #fff;
	background-color: #bcc0c2;
	border-color: #121213;
	padding: 8px 12px;
	font-size: 15px;
	cursor: pointer;
}
